body {
  min-height: 100vh;
  min-width: 500px;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: antiquewhite;
}
a {
  color: black;
  text-decoration: none;
}
.main-header,.main,.main-footer {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}
.container{
  width: 100%;
}
.container,.footer-container,.header-container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-container{
  margin-top: 2em;
  background-color: aqua;
  width: 85%;
}
.footer-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
.footer-container>a>img {
  width: 50%;
}
.section{
  width: 25%;
}
.section-row-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#code {
  background-color: rgba(127, 255, 229, 0.187);
}
.fn {
  display: inline; color: blueviolet;
}
.fn-name {
  display: inline;
  color: rgb(226, 43, 177);
}